footer {
    display: flex;
    width: 100vw;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #16326d;
    font-family: sans-serif;
    padding: 0 20px;
}

footer p {
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
}

footer a {
    color: #00b9ff;;
}